__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

bridge/bin/
bridge/obj/

.vs/
.idea/
.vscode/

*.suo
*.user
*.userosscache
*.sln.docstates

dist/
build/
*.egg-info/

Thumbs.db
desktop.ini
